<style>
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
</style>
<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Announce</h1>
          <button class="button button-clear button-primary" ng-click="noticeModal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
            <label class="item item-input">
              <textarea ng-model="announcement.message">
              </textarea>
            </label><label class="item item-input item-select">
                <div class="input-label">
                  Class
                </div>
                <select ng-model="announcement.forClass" ng-options="cl.standard + ' ' + cl.section for cl in cls">
                </select>
              </label>
            <button class="button button-full button-positive" ng-click="postMessage(announcement)">Post</button>
            <button class="button button-full button-positive" ng-click="uploadImage()">Add Images</button>
            <div class="item item-divider">
              <i class="ion-images"></i>
                Images
            </div>
             <a class="item item-list-detail">
            <ion-scroll direction="x">
                  <img ng-repeat="image in images" ng-src="{{image}}" class="image-list-thumb"/>
            </ion-scroll>
            </a>
         <!-- </div>-->
        </ion-content>

</ion-modal-view>
