<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Create Group</h1>
          <button class="button button-clear button-primary" ng-click="addGroupModal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
              <div class="list padding">
            	  <label class="item item-input">
            	    <input type="text" placeholder="Group name" ng-model="group.groupName">
            	  </label>
            	  <button class="button button-full button-positive" ng-click="createGroup()">Create Group</button>
                <button class="button button-full button-positive" ng-click="addChatContactModal.show()">Add Members</button>
              </div>
              <div class="item item-divider">
                Members
              </div>
              <div class="list">
                <ion-item ng-repeat="item in groupList">
                  {{item.firstname}} {{item.lastname}}
                </ion-item>
              </div>
        </ion-content>
</ion-modal-view>
