<ion-view view-title="Change Password">
  <ion-content>
    <label class="item item-input">
	    <input type="password" placeholder="Password" ng-model="user.password" />
	  </label>
    <label class="item item-input">
	    <input type="password" placeholder="Confirm Password" ng-model="user.confirmPassword" />
	  </label>
    <label class="item">
      <button class="button button-block button-positive" ng-click="changePassword()">Change Password</button>
    </label>
  </ion-content>
</ion-view>
