<ion-view view-title="Feedback">
  <ion-content>
    <div class="item item-body">
    <p>We at Bitstax strive to create the best experience for you. Your feedback helps us in creating that.</p>
  </div>
    <label class="item item-input">
	    <textarea placeholder="Your feedback here" ng-model="feedback.text" rows="10"></textarea>
	  </label>
    <label class="item">
      <button class="button button-block button-positive" ng-click="sendFeedback()">Send Feedback</button>
    </label>
  </ion-content>
</ion-view>
