<ion-view view-title="My Ward">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="w in wards" ng-click="getReviews(w)">
        {{w.student.firstName}} {{w.student.lastName}}
      </ion-item>
    </ion-list>
    <div class="card" ng-repeat="review in reviews">
      <div class="item item-divider">
       {{review.teacher.firstname}} {{review.teacher.lastname}}
      </div>
	     <div class="item item-text-wrap" >
	        {{review.review}}
	     </div>
       <div class="item">
         <h4><time datetime="temporal">{{review.createdAt | date:'MMM d yyyy'}}</time></h4>
       </div>
	</div>
  </ion-content>
</ion-view>
