<ion-view view-title="My Ward">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="w in wards" ng-click="getReviews(w)">
        {{w.student.firstName}} {{w.student.lastName}}
      </ion-item>
    </ion-list>
    <div class="card" ng-repeat="review in reviews">
	     <div class="item item-text-wrap" >
         <h2>{{review.teacher.firstname}} {{review.teacher.lastname}}</h2>
	        <p><small><time datetime="temporal">{{review.createdAt | date:'MMM d yyyy'}}</time></small></p>
	     </div>
       <div class="item">
         <p>{{review.review}}</p>
       </div>
	</div>
  </ion-content>
</ion-view>
