
<ion-view view-title="Notice Board" ng-controller="NoticeBoardCtrl" hide-back-button="true" hide-nav-button="false">
  <ion-nav-buttons side="right">
       <button class="button button-icon ion-compose" ng-click="noticeModal.show()" ng-show="modalShow"></button>
      <!--<button class="button button-icon ion-loop" ng-click="refresh()"></button>-->
    </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
 <!-- <div class="buttons">-->


 <!--</div>-->
  <div class="card" ng-repeat="notice in notices">
    <div class="item">
      <h2>Class {{notice.class.standard}} {{notice.class.section}}</h2>
      <p>{{notice.teacher.firstname}} {{notice.teacher.lastname}}</p>
      <p><time datetime="temporal">{{notice.createdAt | date:'MMMM d, yyyy'}}</time></p>

    </div>
	  <div class="item item-body">
      {{notice.message}}
      <div>
            <img ng-repeat="image in notice.images" ng-src="{{image.url}}" class="image-list-thumb" style="padding: 4px 4px 4px 2px;
            height: 100px;" ng-click="showImages(notice,$index)"/>
      </div>
	  </div>

	</div>
  </ion-content>
</ion-view>
