<ion-view view-title="Notice Board" ng-controller="NoticeBoardCtrl" hide-back-button="true">
  <ion-nav-buttons side="right">
       <button class="button button-icon ion-compose" ng-click="noticeModal.show()" ng-show="modalShow"></button>
      <button class="button button-icon ion-loop" ng-click="refresh()"></button>
    </ion-nav-buttons>
  <ion-content>
 <!-- <div class="buttons">-->


 <!--</div>-->
  <div class="card" ng-repeat="notice in notices">
	  <div class="item item-body">
      {{notice.message}}
	  </div>
    <div class="item">
    <h4>{{notice.teacher.firstname}} {{notice.teacher.lastname}}</h4>
    <h4>Class {{notice.class.standard}} {{notice.class.section}}</h4>
    <h4><time datetime="temporal">{{notice.createdAt | date:'MMM d yyyy'}}</time></h4>
    </div>
	</div>
  </ion-content>
</ion-view>
