<ion-view view-title="Profile">
  <ion-content>  
    <div class="list">
	  <label class="item item-input">
	    <input type="text" placeholder="Name">
	  </label>
	  <label class="item item-input">
	    <input type="email" placeholder="Email">
	  </label>
	  <!--This select should be available only in the parent version. Teacher side of the app should be greyed out -->	   
	</div>
	<label class="item item-select">
		  <select>
		      <option>Parent</option>
		      <option selected>Teacher</option>
		      <option>Guardian</option>
	    </select>
		</label>
  </ion-content>
</ion-view>
