<ion-view view-title="Office Hours" controller="SettingsCtrl">
  <ion-nav-buttons side="right">
      <button class="button button-icon ion-notebook" ng-click="save()">Save</button>
    </ion-nav-buttons>
  <ion-content>
    <div class="row">
    	<div class="col">
		 <label class="item item-input">
	  		<input type="time" placeholder="From Time" ng-model="settings.fromTime">
		 </label>
		</div>
		<div class="col">
		  <label class="item item-input">
	  		<input type="time" placeholder="To Time" ng-model="settings.toTime">
		  </label>
		</div>
	</div>
	<li class="item item-toggle">
	     Sunday
	     <label class="toggle toggle-assertive">
	       <input type="checkbox" ng-model="settings.sunday">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	  <li class="item item-toggle">
	     Monday
	     <label class="toggle toggle-assertive">
	       <input type="checkbox" ng-model="settings.monday">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	  <li class="item item-toggle">
	     Tuesday
	     <label class="toggle toggle-assertive">
	       <input type="checkbox" ng-model="settings.tuesday">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	  <li class="item item-toggle">
	     Wednesday
	     <label class="toggle toggle-assertive">
	       <input type="checkbox" ng-model="settings.wednesday">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	  <li class="item item-toggle">
	     Thursday
	     <label class="toggle toggle-assertive">
	       <input type="checkbox" ng-model="settings.thursday">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	  <li class="item item-toggle">
	     Friday
	     <label class="toggle toggle-assertive">
	       <input type="checkbox" ng-model="settings.friday">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	  <li class="item item-toggle">
	     Saturday
	     <label class="toggle toggle-assertive">
	       <input type="checkbox" ng-model="settings.saturday">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
  </ion-content>
</ion-view>
