<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
    	<a class="item item-icon-left" href="#app/profile">
    		<i class="icon ion-person"></i>
		    Profile
		 </a>
     <a class="item item-icon-left" href="#app/settings/addWard" ng-show="isParent">
       <i class="icon ion-person"></i>
       Ward
     </a>
     <a class="item item-icon-left" href="#app/settings/addSubject" ng-hide="isParent">
       <i class="icon ion-compose"></i>
       Subjects
     </a>
		 <a class="item item-icon-left" href="#app/set-office-hours">
    		<i class="icon ion-briefcase"></i>
		    Set Office Hours
		 </a>
    	 <li class="item item-toggle">
	     Office Hours
	     <label class="toggle toggle-assertive">
	       <input type="checkbox">
	       <div class="track">
	         <div class="handle"></div>
	       </div>
	     </label>
	  </li>
	  <a class="item item-icon-left" href="#app/about">
    		<i class="icon ion-earth"></i>
		    About
		 </a>
	</ion-list>
  </ion-content>
</ion-view>
