<ion-view view-title="Student Review">
    <ion-nav-buttons side="right">
       <button class="button button-icon ion-compose" ng-click="studentReviewModal.show()"></button>
    </ion-nav-buttons>
  <ion-content>

  <div class="item item-divider">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search by Name" ng-model="search.student.firstName" ng-change="onSearchChange()">
    </label>
  </div>
  <div class="card" ng-repeat="rev in reviews | filter:searchCriteria">
     <div class="item item-remove-animate item-text-wrap" >
      <h2>{{rev.student.firstName}} {{rev.student.lastName}}</h2>
      <p><time datetime="temporal">{{rev.createdAt | date:'MMM d yyyy'}}</time></p>
      <p><small>Registration No: <i>{{rev.student.registrationNo}}</i></small></p>
     </div>
     <div class="item">
         <p>{{rev.review}}</p>
     </div>
   </div>
  </ion-content>
</ion-view>
