<ion-view view-title="Student Review">
  <ion-content>
  <div class="list padding">
	  <label class="item item-input">
	    <input type="text" placeholder="To:">
	  </label>
	  <label class="item item-input">
	    <textarea placeholder="Comments"></textarea>
	  </label>
	  <button class="button button-full button-positive" ng-click="postMessage(studentReview)">Post</button>
  </div>
    <div class="card">
    <div class="item item-divider">
    	Shreyas Deshmukh
    </div>
	  <div class="item item-text-wrap">
	    He's an excellent student. Has been doing exceptional work
	  </div>
	</div>
	<div class="card">
	   <div class="item item-divider">
    	Farhan Ali Md.
    </div>
	  <div class="item item-text-wrap">
	    He's so annoying #$***#. Never Mind!
	  </div>
	</div>
  </ion-content>
</ion-view>
