<ion-modal-view view-title="Playlists">
  <ion-content>
    <div class="list padding">
  	  <label class="item item-input">
  	    <input type="text" placeholder="To:" ng-model="review.studentNameModal" ng-change="onChange()" autofocus>
  	  </label>
      <button class="button button-full button-positive" ng-click="modal.hide()">Close</button>
    </div>
    <ion-list >
      <ion-item ng-repeat="student in studs">
        <div ng-click="onClickList(student)">{{student.firstName}} {{student.lastName}}
        <strong>{{student.registrationNo}}</strong></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>
